@import url("normalize.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: rgb(250, 245, 245);
    height: 60px;
    display: block;
    opacity: 0.7;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.header_link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25em;
    color: #383838;
    padding-left: 20px;
}

.header_list {
    margin: 0;  
    list-style-type: none;
    display: flex;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.about {
    height: 969px;
    background-image: url(../assets/back.jpg);
}

.about_title {
    font-weight: 300;
    padding-top: 300px;
    margin: 0;
}

.about_subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 3em;
}

.about_skill_title {
    font-size: 1.5em;
    padding-top: 50px;
}

.about_skill {
    display: flex;
    padding: 0;
    padding-right: 15px;
    font-size: 1.2em;
}

